.button{
    padding: 0.7rem 1rem;
    width: 60%;
    margin-inline: auto;
    border-radius: 25px;
    color: white;
    background-color: $clr-cyan;
    border: 1px solid transparent;
    font-weight: bold;
    transition: all 0.2s ease;
}

.button:hover{
    transform: scale(1.05);
}