.stats{
    margin-top: 5rem;
    text-align: center;
    color: $clr-Vdark-violet;
    padding-inline: 1rem;
    h1{
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h3{
        font-size: 1rem;
        font-weight: 500;
        color: $clr-gray;
    }
}